<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auth0.sharelock" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ComposeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

        <activity android:name=".SettingsActivity"
                  android:label="@string/title_activity_settings"/>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="29532378621e803b8eeaac63d9dd874a1b3d9689" />
    </application>

</manifest>
